c:\xampp\htdocs\new\test.css
.form-group {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-bottom: 20px;
}
body {
    --color-primary: #3498db;
    --color-primary-dark: #2980b9;
    --color-primary-light: #ecf0f1;
    --color-error: #e74c3c;
    --color-success: #2ecc71;
    --color-success-dark: #27ae60;
    --border-radius: 4px;
    --box-shadow: 0px 0px 0px dimgray;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}



.wrapper {
    margin: 0 auto;
}

.main-header {
    background-color: var(--color-primary);
    padding: 10px 0;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.main-header .navbar {
    margin: 0;
    padding: 0;
}

.header-logo {
    height: 40px;
    width: auto;
    float: left;
    margin-left: 20px;
}

.header-logo:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translateY(-5px);
}

.navbar {
    margin-top: 20px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.box-nav {
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 10px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px;
}

.navbar-nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.navbar-nav li a:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}


.active {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: white;
    background-color: var(--color-primary);

}

.active:hover {
    box-shadow: none;
}

.content-wrapper {
    padding: 15px;
    margin-left: 10px;
}

.left-nav {
    float: left;
    margin-right: 20px;
}

.padding-2 {
    padding: 20px;
}

.box {
    border-radius: 10px;
    background: #f9f9f9;
    ;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.box:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.box-primary {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.box-header {
    background-color: var(--color-primary);
    color: #fff;
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.box-header.with-border h2 {
    margin: 0;
    font-size: 24px;
    display: inline-block;
}

#showDescriptionBtn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

#showDescriptionBtn:hover {
    text-decoration: underline;
}


#description {
    display: none;
    background-color: #f5f5f5;
    color: var(--color-primary);
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 0 0 10px 10px;
    font-style: italic;
}

.box-title {
    margin: 0;
    font-size: 24px;
}

.box-body {
    padding: 20px
}

.sub-box {
    padding: 30px;

}

.attachment-block {
    transition: box-shadow 0.3s, transform 0.3s;
}

.attachment-block:hover {
    transform: translateY(-5px);
}

.attachment-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
}

.attachment-heading a {
    color: #333;
    text-decoration: none;
}

.attachment-text {
    font-size: 16px;
    color: #777;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-padding {
    padding: 0px;
}

.nav-pills li {
    margin-bottom: 10px;
}

.nav-pills li a {
    color: #333;
    transition: color 0.3s ease;
}

.nav-pills li.active a {
    font-weight: bold;
}

.bg-white {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-pills li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 0;
    transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
    transform: translate(-50%, -50%);
}


.nav-pills li:hover a {
    color: var(--color-primary);
    background-color: transparent;
    border-radius: 3px;
}

.nav-pills li:hover {
    color: var(--color-primary);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: #f5f5f5;
    border-radius: 3px;
}

.content {
    overflow: hidden;
}

.row {
    padding-top: 20px;
}

/* Custom CSS for Info Boxes */
.info-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.info-box-icon {
    background-color: #3498db;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info-box-content li {
    display: inline-block;
    padding-inline: 20px;
}

.info-box-text {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-box-number {
    color: #3498db;
    font-size: 24px;
    font-weight: bold;
}

.main-footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0px;
}

.main-footer a {
    color: #fff;
    transition: color 0.3s ease;
}

.main-footer a:hover {
    text-decoration: underline;

}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}


.btn-flat {
    background-color: var(--color-primary);
}


.btn-flat:hover {
    background-color: var(--color-primary-dark);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-default:hover,
.btn-default:active,
.btn-default.hover {
    background-color: #e7e7e7;
}

.btn-success {
    background-color: var(--color-success);
    border-color: var(--color-success-dark);
}

.btn-success:hover,
.btn-success:active,
.btn-success.hover {
    background-color: var(--color-success)
}

.btn-info {
    background-color: var(--color-primary);
    border-color: var(--color-primary-dark)
}

.btn-info:hover,
.btn-info:active,
.btn-info.hover {
    background-color: var(--color-primary);
}

.btn-danger {
    background-color: var(--color-error);
    border-color: #d73925;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
    background-color: var(--color-error);
}

.input-lg {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.form-control:focus {
    border-color: var(--color-primary);
    box-shadow: none;
}

.text-red {
    color: #dd4b39 !important
}

.text-yellow {
    color: #f39c12 !important
}

.text-aqua {
    color: #00c0ef !important
}

.text-blue {
    color: #0073b7 !important
}

.text-black {
    color: #111 !important
}

.text-light-blue {
    color: #3c8dbc !important
}

.text-green {
    color: #00a65a;
}

.text-gray {
    color: #d2d6de !important
}

.text-navy {
    color: #001f3f !important
}

.text-teal {
    color: #39cccc !important
}

.text-olive {
    color: #3d9970 !important
}

.text-lime {
    color: #01ff70 !important
}

.text-orange {
    color: #ff851b !important
}

.text-fuchsia {
    color: #f012be !important
}

.text-purple {
    color: #605ca8 !important
}

.text-maroon {
    color: #d81b60 !important
}

.attachment-block {
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
    background: var(--color-primary-light);
    font-size: small;

}

.create {
    float: right;
    border-color: var(--color-primary-dark);
}

.color-red {
    color: red;
}

.hide-me {
    display: none;
}

.mailbox-read-info {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px
}

.mailbox-read-info h3 {
    font-size: 20px;
    margin: 0;
    color: var(--color-primary);
}

.mailbox-read-info h5 {
    margin: 0;
    padding: 5px 0 0 0;
    color: #666;
}

.mailbox-read-message {
    padding: 10px;
    color: var(--color-primary-dark);
}

.margin-top-20 {
    margin-top: 20px;
    float: right;
}

table {
    border-collapse: collapse;
}

.rounded-table {
    border-radius: var(--border-radius);
}

.table>tbody {
    color: var(--color-primary-dark);
    border-radius: var(--border-radius);
    border-color: none;
    background-color: var(--color-primary-light);
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.5s ease;
    padding: 15px;
    background-color: var(--color-primary-light);
}

.card:hover {

    transform: translateY(-5px);
}


.card-title {
    margin-bottom: 10px;
    font-size: 18px;
}

.card-text {
    color: #666;
    margin-bottom: 10px;
}

.status .badge {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
}

.badge-warning {
    background-color: #ffc107;
    color: #333;
}

.badge-danger {
    background-color: #dc3545;
    color: #fff;
}

.badge-success {
    background-color: #28a745;
    color: #fff;
}

#candidates {
    margin-top: 20px;
}

#candidates h2 {
    margin-top: 0;
    color: #333;
}

/* Job info section */
.job-info {
    margin-bottom: 20px;
}

.job-info p {
    margin: 10px 0;
    color: #666;
}

.job-info .fa {
    margin-right: 10px;
    color: #28a745;
    /* Green */
}

/* Company details */
/* Thumbnail styles */
.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.thumbnail .caption {
    padding: 15px;
}

.thumbnail h3 {
    margin-top: 0;
    color: #333;
}

.thumbnail a.btn {
    margin-top: 10px;
}

/* Report and Email links */
.thumbnail .row {
    margin-top: 20px;
    text-align: center;
}

.thumbnail .row .col-md-4 {
    margin-bottom: 10px;
}

.thumbnail .row a {
    color: #333;
    text-decoration: none;
    display: block;
}

.thumbnail .row a:hover {
    color: #28a745;
}

.thumb-ul li {
    display: inline-block;
    padding-inline: 5px;

}

/* Sub-box styling */
.sub-box {
    margin-top: 25px;
}

.sub-box hr {
    margin: 15px 0;
    border-top: 1px solid #ddd;
}

/* Information display */
.sub-box>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.sub-box>div:first-child p {
    margin: 0;
    color: #666;
}

/* Button styling */
.btn {
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-default {
    background-color: #e0e0e0;
    border-color: #ddd;
    color: #333;
}

.btn-success,
.btn-danger {
    color: #fff;
}

.btn-success {
    background-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
}

/* Action buttons */
.sub-box .row {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

.sub-box .row .btn {
    margin-left: 10px;
}

/* Header styling */
.sub-box .box-header.with-border {
    border-bottom: none;
    padding: 0;
}

.sub-box .box-header h2 {
    margin-top: 0;
    font-weight: 600;
    color: #333;
}

/* Back button styling */
.sub-box .pull-right .btn {
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    background-color: #e0e0e0;
    border-color: #ddd;
    color: #333;
}

.sub-box .pull-right .btn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-details {
    margin-bottom: 15px;
}

.job-details p {
    margin: 0;
    color: #666;
}

.job-details p span {
    display: inline-block;
    margin-right: 10px;

}

.job-details p i.fa {
    font-size: 16px;
}


.job-description {
    line-height: 1.5;
    background-color: var(--color-primary);
    color: white;

}